*{
    margin:0;
    padding:0;
}
body{
    overflow: hidden;
    animation: shakebody linear 6s infinite;
    
}
.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position: absolute;

}
.trees{
    height: 100vh;
    width:100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
    top: -144px;
}
.track{
    width:800vw;
    height:60vh;
    background-image: url(track.png);
    background-repeat: repeat-x;
    position: absolute;
    top:70vh;
    animation: carmove linear 6s infinite;
}
.car{
    height: 100px;
    width:380px;
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    bottom:25vh;
    left: 40vh;
    animation: shake linear .3s infinite;
}
.wheel1 img{
    width:77px;
    top:41px;
    left:42px;
    position: relative;
    animation: wheelRotation linear .16s infinite;
}
.wheel2 img{
    width:77px;
    top:-39px;
    left:235px;
    position: relative;
    animation: wheelRotation linear .16s infinite;
}
@keyframes wheelRotation
{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes carmove{
    100%{
        transform: translateX(-500vh);
    }
}
@keyframes shake
{
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes shakebody
{
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(-50px);
    }
}